F_F(vn,root,NoF,fw,fs)
 @font-face {font-family: vn;
 src: url('../fonts/' root NoF'.eot');
 src: url('../fonts/' root NoF'.eot?#iefix') format('embedded-opentype'),
 url('../fonts/' root NoF'.woff') format('woff'),
 url('../fonts/' root NoF'.ttf') format('truetype'); font-weight:fw; font-style:fs; }

bg(value)
 background value


//_____________________RoundedElegance

F_F('RoundedElegance','Rounded-Elegance/',RoundedElegance-Regular,normal,normal)

//_____________________CasperR

F_F('CasperR','CasperR/',CasperR,normal,normal)

//_____________________colors
bl1=#4DA59F
bl2=rgb(176, 236, 206)
orng=#F19641
velL=#EFE88F
yel1=#F3F2C2
wht=#FEFEFF
// #F0F0C1
//_____________________
html
	height 1px
	
html, body
	min-height: 100%;
	
body
 background yel1
 // background url('../images/Events_page.jpg')
 // background-size cover
 background-size contain
 background-position-x: 50%;
 display: flex;
 flex-direction: column;

p,a
 font-family RoundedElegance

//_________TOP-MENU

.logo
	font-size: 35px;
	background velL
	text-align: center;
	padding 8px 15px 3px 30px;
	display: inline-block;

#top-menu li,
 display block
 font-size: 2.07em; 
 // 33px;
 text-transform uppercase

.top_menu
	display: flex;
	margin-top .55%
	width: 100%;
	justify-content: space-around;
	margin-right: 7%
	align-items: center;

#top-menu
 margin-top 5.1%
 color bl1
 display: flex;
 justify-content: space-between;

#top-menu a
 color: #4da59f;


#top-menu li.active a
	// font-size: 77px;
	font-size 2.32em;
	letter-spacing: 0.15em;

#top-menu li.active:after
 content ""
 position absolute
 background orng
 margin-left 1em
 margin-top 1.7%
 width 0.7em
 height 0.7em
 border-radius 50%

#top-menu li.active:before 
 content ""
 position absolute
 background orng
 margin-left: -2em
 margin-top 1.7%
 width 0.7em
 height 0.7em
 border-radius 50%
 
 //_____________________Annotation
.annotation-board
	display flex
	flex-direction column
	margin-top 20%
	// background rgba(255, 0, 0, 0.3)
	width 661px
	margin auto
	margin-top 2.7%
	
.annotation
	padding-left: 3.35em;
	
.date-event
	position: relative;
	width: 288.7px;
	// min-height: 124px;
	height: 123px;
	background: bl1;
	// padding: 21px;
	padding: 1.34em;
	border-radius: 25px 0 0 25px;
	margin-top: -23px;
	
.date-event:first-child
	margin-top: 0
	
.date-event:first-child:before
	content: ""
	// border-right:10px solid black
	// border-top:7px solid black
	// border-bottom:7px solid black
	position absolute
	display:block
	border-radius: 1.5em 0 0 1.5em;
	left: -0.7em;
	height: 1.43em;
	top: 0px;
	width: 0.7em;
	background: bl1;
	
.date-event:nth-child(odd):last-child:after
	content: ""
	// border-right:10px solid black
	// border-top:7px solid black
	// border-bottom:7px solid black
	position absolute
	display:block
	border-radius: 1.5em 0 0 1.5em;
	left: -0.7em;
	height: 1.43em;
	bottom 0;
	width: 0.7em;
	background: bl1;
	
.date-event:nth-child(even):last-child:after
	content: ""
	// border-right:10px solid black
	// border-top:7px solid black
	// border-bottom:7px solid black
	position absolute
	display:block
	border-radius: 0 1.5em 1.5em 0;
	right: -.71em;
	height: 1.43em;
	bottom 0;
	width: 0.7em;
	background: bl1;

	
.date-event:nth-child(odd)
	align-self flex-end
	border-radius: 0 25px 25px 0;
	
.actual-date
	font-family CasperR
	font-size 2em
	display: block
	background: #F19641
	color: wht;
	position: absolute;
	text-align: center;
	// padding: .7em .9em;
	padding: .65em .85em;
	border-radius: 50%;
	border: 0.23em solid yel1;
	left: -1.8em;
	top: 23px;
	z-index 1
	
.date-event:nth-child(even)>.actual-date
	left: 8.47em;
	
.date-event:nth-child(even)>.annotation
	padding-right: 3.35em;
	padding: 0 3.35em 0 0;
	
.ev-name
	font-size: 1.57em;
	color yel1

.short-descr
	color wht
	font-size: 1.2em;
	margin-top: 0.45em;
	
.time 
	font-family CasperR
	color yel1
	position: absolute;
	font-size: 1.5em;
	bottom: 0.8em;
	
footer
	// background: rgba(77, 165, 159, 0.36);
	background: bl2
	height: 2.3em;
	position: relative;
	bottom: 0;
	margin-top 1.7em

.langs
	background:bl1
	background-image:url('../images/Globe.svg')
	background-repeat no-repeat
	background-position 50%
	background-size: 75%;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	position: absolute;
	right: 11.1em;
	top: 0.2em;
	
.languages
	font-family CasperR
	display none
	// background: rgba(255, 0, 0, 0.36);
	position: absolute;
	top: -4.9em;
	right: -0.7em;
	padding-bottom: 1em;
	
.langs:hover .languages
	display block
	
.languages li
	display: block;
	padding: .17em 1.03em;
	// margin: .23em 1.03em;
	font-size: 1.05em;
	color wht
	background: bl1

.languages li:hover
	background: #A7D3D0
	
.languages li:first-child
	border-radius: 0.75em 0.75em 0 0;

.languages li:last-child
	border-radius:0 0 0.75em 0.75em

#event-container
	border-radius 1.8em
	font-family RoundedElegance
	box-shadow 0.8em 0.8em 0px rgba(0,0,0,0.5)
	width: 765px;
	background: rgba(238, 130, 238, 0.6);
	margin: 27px auto;

.header-event
	padding: 32px 55px 0;


#event-container h1
	color wht
	font-size: 2.5em;
	letter-spacing: 1px;

.shortDescr
	margin-top: 0.35em;
	font-size: 1.7em;
	letter-spacing: 1.4px;
	line-height: 1.2em;
	// margin-bottom: 0.9em;


.mc
	position relative		
.mc img
	position: absolute;
	left: -0.1em;
	height: 4.5em;
	width: 4.5em;
	border-radius: 50%;

.universal-els .orange
	font-family CasperR
	font-size 1.7em
	color orng
	
.universal-els	
	margin-top: 1.4em;
	margin-bottom: 0.9em;
	
.universal-els .white
	color wht
	font-size: 1.7em;
	font-family: CasperR;	
	
.universal-els .raw
	display: flex
	// justify-content: space-between;
	margin-top: 1em;
	line-height: 2.2em;

.raw>*
	width: 37%;
	padding-left: 5.7em;

.raw:nth-child(2)
	line-height: 3em;
	
	
	
.date, .cost, .address
	background-image url('../images/All_icons3.svg')
	background-repeat: no-repeat;
	background-size: 21.5%;
.date
	background-position-y: 0%
	
.address
	background-position-y: 100%
	
.cost
	background-position-y: 59%
	
.descr
	padding: 27px 55px;
	background: rgba(102, 51, 153, 0.3);
	
.descr img
	width: 9em;
	display: inline-block;
	// float: left;
	margin-right: 2.2em;
	
.descrCont
	display: inline-block;
	width: 70%;
	vertical-align: top;
	
.descr p	
	font-family: CasperR;
	font-size: 1.2em;
	letter-spacing: 0.9px;

.footage
	clear both
	
