extends layout

block content
	ul.annotation-board
		- each evItem in events 
			ul.date-event
				p.actual-date #{evItem.date.getDate()}<br/>
					case (evItem.date.getMonth())
						when 0
							янв
						when 1
							фев
						when 2
							мар
						when 3
							апр
						when 4
							май
						when 5
							июн
						when 6
							июл	
						when 7
							авг
						when 8
							сен
						when 9
							окт
						when 10
							ноя
						when 11
							дек
				li.annotation
					a.ev-name #{evItem.eventType.ru}
					p.short-descr #{evItem.shortDescr.ru}
					p.time #{evItem.date.toLocaleTimeString('ru',{hour:'numeric',minute:'numeric'})}