extends layout

block content
	#event-container
		.header-event
			h1 Разговорный клуб
			p.shortDescr Обсуждение фильма "2001 годЖКосмическая одисея"
			.universal-els
				.raw
					.date 
						//- img(src='/images/Clock.svg')
						p.orange 10 декабря
						p.white 19:00 - 21:00
					.mc
						img(src='/images/xen.jpg')
						p.orange Занятие проводит
						p.white Ксения Устьянцева
				.raw
					.cost
						//- img(src='/images/Coin.svg')
						p.white 250 р
					.address
						//- img(src='/images/Map.svg')
						p.white Ул.Ванеева 21
		.descr
			img(src='/images/fdf.jpg')
			.descrCont 
				p Мы будем обсуждать культовый фильм Стэнли Кубрикаб оказавший значительное влияние на кинематограф в целом и научно-фантастическое кино в частности.революционный для своего времени, он ит сейчас остается непревзойденным шедевром.
				p приходите на обсуждение
		.footage
			a(href='') как проходит "разговорный клуб"?
			p.lang Язык: 
				span Английский