doctype
head
	//- meta(name='theme-color' content='#000')
	meta(charset= 'utf-8')
	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/lingua.css')
	title= page_name+"|Lingua[ART]"

body
	include top_menu.jade 

	block content

	include foot.jade