doctype
head
	//- meta(name='theme-color' content='#000')
	meta(charset= 'utf-8')
	link(rel='stylesheet', href='/stylesheets/reset.css')
	link(rel='stylesheet', href='/stylesheets/lingua.css')
	title= page_name+"|Lingua[ART]"

body
	h1 Новое событие
	form(method='post' action='/new-event')
		fieldset
			.field 
				label(for='event_type') Название события
				input#event_type(name='event_type' type='text')
			.field 
				label(for='event_type_en') Event name
				input#event_type_en(name='event_type_en' type='text')
			.field 
				label(for='event_type_fr') Event name(french)
				input#event_type_fr(name='event_type_fr' type='text')
		fieldset
			.field 
				label(for='short_description') Краткое описание события/Аннотация
				input#short_description(name='short_description' type='text')
			.field 
				label(for='short_description_en') Short description/Anons
				input#short_description_en(name='short_description_en' type='text')
			.field 
				label(for='short_description_fr') Short description/Anons french
				input#short_description_fr(name='short_description_fr' type='text')

		.field 
			label(for='date') Время проведения события
			input#date(name='date' type='datetime-local')
		.field 
			label(for='cost') Стоимость занятий
			input#cost(name='cost' type='numder')
		.field 
			label(for='duration') Длительность занятий
			input#duration(name='duration' type='numder')
		.field 
			label(for='mc') Имя ведущего
			input#mc(name='mc' type='text')
		.field 
			label(for='address') Адрес метста проведения
			input#address(name='address' type='text')

		fieldset		
			.field 
				label(for='descr') Полное описание события
				textarea#descr(name='descr')
			.field 
				label(for='descr_en') Полное описание события
				textarea#descr_en(name='descr_en')
			.field 
				label(for='descr_fr') Полное описание события
				textarea#descr_fr(name='descr_fr')

		.field 
			label(for='lang') Язык события
			select#lang(name='lang')
				option ru
				option en
				option fr

		button(type='submit') добавить



