@font-face {
  font-family: 'RoundedElegance-Regular';
  src: url('RoundedElegance-Regular.woff') format('woff'),
       url('RoundedElegance-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rounded_Elegance';
  src: url('Rounded_Elegance.eot');
  src: url('Rounded_Elegance.eot?#iefix') format('embedded-opentype'),
       url('Rounded_Elegance.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

