@font-face {
  font-family: 'Casper';
  src: url('Casper.woff') format('woff'),
       url('Casper.ttf') format('truetype'),
       url('Casper.svg#Casper') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Casper_R';
  src: url('Casper_R.eot');
  src: url('Casper_R.eot?#iefix') format('embedded-opentype'),
       url('Casper_R.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

